*.pyc

.vs/
runs/
__pycache__/
output/
log/
nn/
arm_leg_parametrization/
trained_models_bsv/
old_evaluation/
evaluation_pre-trained/
evaluation_uniform-trained/
evaluation_adaptive-sampling-trained/
evaluation_architecture-trained/